<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" *ngIf="(isAuthenticated$ | async) || {} as authenticatedUser">
  <a class="navbar-brand" href="#">Pizza 42</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/', 'Home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="testInsecureCall()">Test Insecure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="testSecureCall()">Test Secure</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="listClaims()" *ngIf="authenticatedUser.isAuthenticated && authenticatedUser.emailAddressVerified">Show Claims Count</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/', 'Order']" *ngIf="authenticatedUser.isAuthenticated && authenticatedUser.emailAddressVerified">Order Pizza</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" [routerLink]="['/', 'SomeLink']">404</a>-->
      <!--</li>-->
      <li class="nav-item dropdown" *ngIf="authenticatedUser.isAuthenticated; else loginMenu">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="user-email-address">{{authenticatedUser.emailAddress}}</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" [routerLink]="['/', 'Profile']" routerLinkActive="active">Profile</a>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
      <ng-template #loginMenu>
        <li class="nav-item">
          <a class="nav-link" (click)="login()">Log In</a>
        </li>
      </ng-template>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>

<main role="main" class="container">

  <router-outlet></router-outlet>

</main><!-- /.container -->



